$pr_h1:                 #181818;
$pr_headers2:           #4D4D4D;
$pr_headers1:           #717171;
$pr_text:               #333;
$pr_text_help:          #808080;
$pr_button_help:        #D4D4D4;
$pr_input:              #E4E4E4;
$pr_el:                 #ECECEC;
$pr_footer:             #F6F6F6;
$pr_bg:                 #FCFCFC;
$pr_white:              #fff;
$pr_main:               #1b1919;
$pr_main_hover:         #AE182A;
$pr_main_active:        #991424;
$pr_main_005:           #fcf3f4;
$pr_blue_one:           #007CD7;
$pr_blue_one05:         #80BDEB;
$pr_blue_one005:        #F2F8FD;
$pr_blue_one01:         #e5f2fb;
$pr_green:              #7BCC14;

$main-color:           rgb(82, 112, 148);

$table-header:          #1976D2;
$table-header-border:   #7b8086;
$table-head-text-color: #999;
$table-border:          #eee;
$table-row-bg-even:     #fff;
$table-row-bg-odd:      #fff;
$table-row-bg-hover:    #f0faff;
$table-header-bg:       #fff;

$inactive-text:         #aaa;
$active-text:           #559;


$size_mobile:           767px;